@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

/* Header e Footer*/
@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/* Home */
@import "./home/introducao.css";
@import "./home/diferencial.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Tecidos */
@import "./tecidos/tecidos-lista.css";
@import "./tecidos/tecidos.css";

/* Contato */
@import "./contato/contato.css";

/* Local */
@import "./local/local.css";

/* Termos */
@import "./termos/termos.css";
