:root {
  --cor-0: #fff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #00ff37;
  --cor-p2: #30e958;
  --cor-p3: #3abf57;
  --cor-p4: #29a143;
  --cor-p5: #1d6b2e;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}

@media (prefers-color-scheme: dark) {
  .introducao-bg {
    background: var(--cor-11) url("../../img/dec/bottom-left.svg") no-repeat
      bottom 160px left 100px;
    box-shadow: inset 0 -120px var(--cor-11) !important;
  }
  .tecidos-lista {
    background: var(--cor-11);
  }
  .tecidos-lista h2 {
    color: var(--cor-0);
  }
  .tecidos-lista h3 {
    color: var(--cor-0);
  }

  .tecidos-lista span {
    color: var(--cor-5);
  }

  .diferencial-bg {
    background-color: var(--cor-12) !important;
    box-shadow:
      inset 0 80px var(--cor-11),
      inset 0 -80px var(--cor-11) !important;
  }

  .parceiros {
    background: var(--cor-11);
  }

  .parceiros h2 {
    color: var(--cor-0);
  }

  .parceiros li {
    border-left: 2px solid var(--cor-10) !important;
  }
  .parceiros li:nth-child(n + 5) {
    border-top: 2px solid var(--cor-10) !important;
  }

  .titulo-bg {
    background: var(--cor-12) !important;
  }

  .tecidos-bg {
    background: var(--cor-11) !important;
  }

  .tecidos h2 {
    color: var(--cor-0);
  }

  .tecidos p {
    color: var(--cor-5);
  }

  .tecidos li {
    color: var(--cor-5);
  }

  .tecidos-bg:nth-child(3) {
    background: linear-gradient(
      to right,
      var(--cor-11) 32%,
      var(--cor-12) 0
    ) !important;
  }

  #local {
    background: var(--cor-11) !important;
  }
  .loja-item {
    background: var(--cor-10) !important;
  }
  .loja-dados {
    color: var(--cor-6);
    border-left: 2px solid var(--cor-6) !important;
  }

  .loja-conteudo > a {
    color: var(--cor-0);
  }

  .loja-tempo {
    color: var(--cor-0);
  }

  .loja-item > img {
  }
}
