html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img [src$=".jpg"] {
  border-radius: 4px;
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
