.introducao-bg {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 160px left 100px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 100px;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 280px;
  max-width: 500px;
}

.introducao-imagem {
  position: relative;
  max-width: 565px;
  margin-right: -100px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao-imagem {
    position: relative;
    max-width: 565px;
    margin-right: 0;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
